* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: rgb(243, 215, 220);
}

div#bag {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background: url(bag.png) center no-repeat;
  background-size: 80%;
}

div#bag.burst {
  background: url(bag-burst.png) center no-repeat;
  background-size: 80%;
}

div#bag-health {
  width: 300px;
  border: 2px solid #280b0b;
  margin: 0 auto 20px auto;
  border-radius: 3px;
}

div#bag-health div {
  height: 30px;
  background: crimson;
}

div#control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin: 0 auto;
}

div#control-btn button {
  padding: 10px 30px;
  margin: 11px;
  cursor: pointer;
}

div#control-btn button:nth-child(1) {
  background: rgb(211, 84, 84);
  color: rgb(238, 227, 227);
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

div#control-btn button:nth-child(2) {
  background: rgb(49, 27, 27);
  color: rgb(238, 227, 227);
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}